<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Simple Contact Application for CIT360</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- View All Contacts -->
    <servlet>
        <display-name>View Contacts</display-name>
        <servlet-name>ViewContacts</servlet-name>
        <servlet-class>views.ViewContacts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewContacts</servlet-name>
        <url-pattern>/ViewContacts</url-pattern>
    </servlet-mapping>

    <!-- New Contact -->
    <servlet>
        <display-name>Enter Contact</display-name>
        <servlet-name>EnterContact</servlet-name>
        <servlet-class>views.EnterContact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterContact</servlet-name>
        <url-pattern>/EnterContact</url-pattern>
    </servlet-mapping>

    <!-- Search options -->
    <servlet>
        <display-name>First Name Search</display-name>
        <servlet-name>SearchFN</servlet-name>
        <servlet-class>views.search.SearchFN</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchFN</servlet-name>
        <url-pattern>/SearchFN</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>Last Name Search</display-name>
        <servlet-name>SearchLN</servlet-name>
        <servlet-class>views.search.SearchLN</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchLN</servlet-name>
        <url-pattern>/SearchLN</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>Zip Code Search</display-name>
        <servlet-name>SearchZIP</servlet-name>
        <servlet-class>views.search.SearchZIP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchZIP</servlet-name>
        <url-pattern>/SearchZIP</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>Telephone Search</display-name>
        <servlet-name>SearchTEL</servlet-name>
        <servlet-class>views.search.SearchTEL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchTEL</servlet-name>
        <url-pattern>/SearchTEL</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>Email Search</display-name>
        <servlet-name>SearchEM</servlet-name>
        <servlet-class>views.search.SearchEM</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchEM</servlet-name>
        <url-pattern>/SearchEM</url-pattern>
    </servlet-mapping>

    <!-- Modify options -->


<!--
    <servlet>
        <servlet-name></servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name></servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
-->

</web-app>