* {box-sizing: border-box;}

html {
    font-family: 'Roboto Slab', serif;
    background-color: #406868;
}

/*------------------MEDIA QUERIES---------------*/

@media screen and (max-width: 450px) {

    [class*="col-m-"] {
        float: left;
    }
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}


    header {
        width: 100%;
        /*background-image: ;*/
        background-repeat: no-repeat, no-repeat;
        background-position: top right, center;
        background-size: auto, cover;
        min-height: 108px;
    }

    nav {
        color: #e1e8e0;
        background-color: rgba(70,96,110,0.5);
        border: 1px  solid rgba(29,57,73,0.9);
        border-radius: .5em;
        margin: 0;
        position:relative;
        top: -3em;
        width: 100%;
    }

    ul.topnav {
        font-size: 100%;
    }

    nav ul#topNav {
        display:block!important;
        padding: 0;
        border-radius: .5em;
    }

    .container {
        display: inline-block;
    }

    #indCont, #indGuide, #indReg, #indfdt, #indoa, #indtm {
        width: 100%;
        min-height: 100px;
        margin-bottom: 10px;
        font-size: 150%;
    }

    .indPage a {
        padding-top: 25px;
    }

    .mapwrap {
        margin-bottom: 150px;
    }

    .mapwrap iframe {
        max-height: 250px;
    }

    label.oneUp {width: 97%;}

    label.twoUp {width: 97%;}

    label.threeUp {width: 97%;}

    .rad2 {
        display: block;
        text-align: left;
    }

    .pkgtable {
        font-size: 80%
    }

}

@media screen and (min-width: 451px) and (max-width: 900px) {

    [class*="col-t-"] {
        float: left;
    }
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}

    header {
        width: 100%;
        /*background-image: ;*/
        background-repeat: no-repeat, no-repeat;
        background-position: top right, center;
        background-size: auto, cover;
        min-height: 217px;
    }

    nav {
        color: #e1e8e0;
        background-color: rgba(70,96,110,0.5);
        border: 1px  solid rgba(29,57,73,0.9);
        border-radius: .5em;
        margin: 0;
        position:relative;
        top: -3em;
        width: 100%;
    }

    ul.topnav {
        font-size: 110%;
    }

    nav ul#topNav {
        display:block!important;
        padding: 0;
        border-radius: .5em;
    }

    .container {
        display: flex;
    }

    #indCont, #indGuide, #indReg, #indfdt, #indoa, #indtm  {
        width: 100%;
        min-height: 125px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 175%;
    }

    .indPage a {
        padding-top: 30px;
    }

    #contForm {
        max-height: 50%;
        overflow-y: auto;
    }

    label.oneUp {width: 97%;}

    label.twoUp {width: 97%;}

    label.threeUp {width: 97%;}

    .rad2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
    }

}

@media screen and (min-width:901px) {

    [class*="col-b-"] {
        float: left;
    }

    .col-b-1 {width: 8.33%;}
    .col-b-2 {width: 16.66%;}
    .col-b-3 {width: 25%;}
    .col-b-4 {width: 33.33%;}
    .col-b-5 {width: 41.66%;}
    .col-b-6 {width: 50%;}
    .col-b-7 {width: 58.33%;}
    .col-b-8 {width: 66.66%;}
    .col-b-9 {width: 75%;}
    .col-b-10 {width: 83.33%;}
    .col-b-11 {width: 91.66%;}
    .col-b-12 {width: 100%;}

    header {
        width: 100%;
        /*background-image: ;*/
        background-repeat: no-repeat, no-repeat;
        background-position: top right, center;
        background-size: auto, cover;
        min-height: 325px;
    }

    nav {
        color: #e1e8e0;
        background-color: rgba(70,96,110,0.5);
        border: 1px solid rgba(29,57,73,0.9);
        border-radius: .5em;
        margin: 0;
        position:relative;
        top: -3em;
        width: 100%;
    }

    ul.topnav {
        font-size: 110%;
    }

    nav ul#topNav {
        display:block!important;
        padding: 0;
        border-radius: .5em;
    }

    .container {
        display: flex;
    }

    #indCont, #indGuide, #indReg, #indfdt, #indoa, #indtm  {
        width: 100%;
        min-height: 175px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 200%;
    }

    .indPage a {
        padding-top: 60px;
    }

    #contForm {
        max-height: 50%;
        overflow-y: auto;
    }

    label.oneUp {width: 97%;}

    label.twoUp {width: 47%;}

    label.threeUp {width: 30.25%;}

    .rad2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
    }

}



/* Header Module */

header {
    border-radius: .5em;
    font-size: 1em;
    margin: 0;
    padding: 0;
    max-width: 1090px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

/* Nav Module */

nav {
    font-size: 1em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    max-width:  1070px ;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    text-align: center;
    border-radius: .5em;
}

ul.topnav li {
    display: inline-block;
}

ul.topnav li a, .dropbtn {
    display: inline-block;
    color: #e1e8e0;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}

ul.topnav li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(225,232,224,0.8);
    color: #1d3949;
    border-radius: .5em;
}

ul.topnav li.dropdown {
    display: inline-block;
}

ul.topnav .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(64,104,104,.9);
    color: #e1e8e0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: .5em;
}

ul.topnav .dropdown-content a {
    color: #e1e8e0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

ul.topnav .dropdown-content a:hover {
    background-color: rgba(225,232,224,.6);
    color: #1d3949
}

ul.topnav .dropdown:hover .dropdown-content {
    display: block;
}


/* Footer Module */

footer {
    background-color: #FFF;
    font-size: .75em;
    width: 100%;
    bottom: 0;
    justify-content: center;
    max-width: 1090px;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: .5em;
    position:relative;
    top: -2em;
}

.foot {
    display: inline;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.copy, .footRef, .company {
    display: inline-block;
    padding: 2px;
    width: 20%;
    vertical-align: middle;
}

ul.foot {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: .9em;
}

#foot1 li {
    display: inline-block;
}

#foot1 li a {
    display: inline-block;
    color: #1d3949;
    padding: 2px 15px;
    text-decoration: none;
}

#foot1 li a:hover {
    background-color: #1d3949;
    color: #e1e8e0;
    border-radius: .5em;
}

/*Shared CSS*/

h1 {
    color: #1d3949;
    text-align: center;
    font-size: 1.3em;
    padding: 5px;
    margin: 5px;
}

h2 {
    color: #724a29;
    font-size: 1.2em;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

h3 {
    color: #194545;
    font-size: 1.1em;
    padding: 5px;
}

p {
    color: black;
    font-size: 1em;
    padding: 2px;
}

div {
    font-size: 1em;
}

body {
    font-size: 1em;
}

main {
    display: block;
    font-size: 1em;
    justify-content: center;
    max-width: 1090px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: .5em;
    position:relative;
    top: -2em;
    text-align: center;
}

input.startReg {
    -webkit-appearance: none; /*remove apple styling*/
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: rgba(0,128,128,.9);
    color: #e1e8e0;
    border: 1px solid #85adad;
    border-radius: .5em;
    width: 50%;
    margin: .5em 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
    padding: .6em;
    box-shadow: 0px 5px 8px 0px rgba(109,68,50,0.4);
    transition: 0.3s;
}

.container {
    border-radius: .5em;
    justify-content: space-between;
    padding: 10px;
}

#wCont {
    margin: 0;
    border-radius: .5em;
    color: #fff;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
}

#wHead{
    padding: 5px;
    font-weight: bold;
    border: 1px solid rgba(29,57,73,0.9);
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    color: #e1e8e0;
    background-color: rgba(70,96,110,0.7);
}

#cCond {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    top: 0;
    text-align: center;
    font-size: .9em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    color: #e1e8e0;
    background-color: rgba(70,96,110,0.7);
    border-right: 1px solid rgba(29,57,73,0.9);
    border-left: 1px solid rgba(29,57,73,0.9);
    border-bottom: 1px solid rgba(29,57,73,0.9);
}

#cCond li {
    display: block;
    border-bottom: 1px solid rgba(29,57,73,0.5);
}

#cCond li:last-child {
    border-bottom: none;
}

#welcome {
    padding: 10px;
    text-align: left;
}

.indPage {
    text-shadow: -1px 0 #000,0 -1px #000,1px 0 #000,0 1px #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: .5em;
}

.indPage a{
    display: inline-block;
    color: #e1e8e0;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.indPage a:hover {
    font-size: 120%;
}

#indCont {
    /*background-image: ;*/
}

#indGuide {
    /*background-image: ;*/
}

#indReg {
    /*background-image: ;*/
}

#indfdt {
    /*background-image: ;*/
}

#indoa {
    /*background-image: ;*/
}

#indtm {
    /*background-image: ;*/
}


.cuInfo {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: left;
    padding: 8px;
    margin-left: 10px;
    border-bottom: 1px solid #1d3949;
}

td {
    padding-left: 20px;
}

tr:hover {
    background-color: #fbe9d4
}

.pkgpginfo {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.pkgpginfo ul {
    width: 90%;
}

.pkgpginfo h3 {
    text-align: center;
}

input::-webkit-input-placeholder  {
    font-family: 'Roboto Slab', serif;
    font-size: 90%;
    color: #8a9ea8;
}

/*----------------------- FLEX STUFF ---------------------------*/


.flexContainer {
    display: flex;
    flex-flow: row nowrap;
    text-align: left;
    align-items: center;
    justify-content: space-between;

}
.flexContainer > * {
    padding: 10px;
    flex: 1 100%;
}

.flexItem {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mapwrap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 250px;
}

.mapwrap iframe {
    position: absolute;
    top: 0;
    left: 10px;
    width: 95%;
    border: 2px solid #5b7d7d;
}

/*----------------------- FORM STUFF ---------------------------*/

form#register {
    margin: 1em 3%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: left;
}

form#cus1 {
    margin: 1em 3%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
}

.form-field {
    display: flex;
    border-radius: .5em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

fieldset.persInfo, .pkgInfo, .grpDet{
    flex-direction: row;
    text-align: center;
    background-color: #e0ebeb;
    border-radius: .5em;
    margin: 1.5em 0;
    border: 1px solid #669999;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

legend {
    color: #0a0f0f;
    margin-left: 5%;
    padding: .5em;
    border: 1px solid #669999;
    background-color: #94b8b8;
    border-radius: .5em;
    font-size: 1.15em;
    font-weight: bold;
    width: 50%;
}

label {
    display: inline-block;
    margin: .5em;
    text-align: left;
}

.radioBtn {
    width: 20%;
}

label span {
    display: block;
    color: #334d4d;
    padding-top: .5em;
    font-weight: bold;
}

label input {

    padding: .4em;
    border-radius: .5em;
    font-weight: bold;
    width: 100%;
}

label textarea {
    display: block;
    padding: .4em;
    border-radius: .4em;
    font-weight: bold;
    width: 100%;
}

input.submitReg {
    -webkit-appearance: none; /*remove apple styling*/
    font-weight: bold;
    background-color: rgba(0,128,128,.9);
    color: #e1e8e0;
    border: 1px solid #85adad;
    border-radius: .5em;
    width: 50%;
    margin: .5em 0;
    font-size: 1.1em;
    padding: .6em;
    box-shadow: 0px 5px 8px 0px rgba(109,68,50,0.4);
    transition: 0.3s;
}


.rad2 input {
    margin-left: 20px;
}

/*-------------------ACCORDION (Guides)----------------*/

button.accordion {
    background-color: rgba(225,232,224,.6);
    color: #1d3949;
    border: 1px solid rgba(138,109,74,0.5);
    border-radius: .5em;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    transition: 0.4s;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

button.accordion.active, button.accordion:hover {
    background-color: rgba(64,104,104,.9);
    color: #e1e8e0;
    border: 1px solid rgba(25,69,69,0.52);
    border-radius: .5em;
}

div.panel {
    padding: 0 2%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.guidetext {
    padding-left: 15px;
}

/*-----------------REF PAGE-------------------*/



ul.refpanel {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    text-align: center;
    border-radius: .5em;
}

ul.refpanel li {
    display: inline-block;
}

ul.refpanel li a {
    display: inline-block;
    color: #725129;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    width: 265px;
}

ul.refpanel li a:hover {
    background-color: rgba(49,74,88,0.8);
    color: #fbe9d4;
    font-weight: bold;
    border-radius: .5em;
}

.refVid {
    width: 100%;
    height: auto;
    border-radius: .5em;
    margin-left: auto;
    margin-right: auto;
}
